* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

li {
  list-style: none;
  padding: 6px;
  font-size: 22px;
  font-weight: 400;
}

form {
  padding: 20px;
}

.collection {
  border: 1px solid black;
  margin: 5%;
}

.item:nth-child(even) {
  background-color: #d3d3d3;
}

.alert {
  border:1px solid;
}

.remove {
  float: right;
  margin-top: 3px;
}